<a href="https://colab.research.google.com/github/SoleEsp/Inmersion_datos_ALURA_LATAM/blob/main/Desafio_clase_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Desafíos

1- **Promedio de área de todos los inmuebles en los barrios en el dataset. El top 10.**

2- **Consultar otros datos estadísticos, conteo, mediana, valores mínimo y máximo.**

In [1]:
import pandas as pd

inmuebles_bogota = pd.read_csv("inmuebles_bogota.csv")

In [2]:
inmuebles_bogota.sample(10)

,Tipo,Descripcion,Habitaciones,Baños,Área,Barrio,UPZ,Valor
6454,Apartamento,Apartamento en venta en Cedritos,3,2,109,Cedritos,Usaquén,$ 550.000.000
1942,Apartamento,Apartamento en venta en Zona Noroccidental,1,1,70,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 415.000.000
6978,Apartamento,Apartamento en venta en Bosa,2,1,44,Bosa,Bosa Central,$ 120.000.000
5758,Apartamento,Apartamento en venta en Kennedy,2,2,48,Kennedy,Kennedy Central,$ 145.000.000
363,Apartamento,Apartamento en venta en Zona Noroccidental,2,3,75,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 390.000.000
4582,Apartamento,Apartamento en venta en Kennedy,3,2,57,Kennedy,Kennedy Central,$ 199.000.000
9421,Casa,Casa en venta en Kennedy,6,3,120,Kennedy,Kennedy Central,$ 370.000.000
7753,Casa,Casa en venta en Chico Reservado,2,2,88,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 700.000.000
3867,Apartamento,Apartamento en venta en El Batán,2,2,50,El Batán,La Alhambra,$ 310.000.000
5617,Apartamento,Apartamento en venta en Usaquén,3,2,61,Usaquén,Usaquén,$ 270.000.000

# **Respuesta 1**

In [11]:
inmuebles_bogota = inmuebles_bogota.rename(columns= {'Área':'Area'})

In [24]:
barrios = inmuebles_bogota.groupby(['Barrio'])

In [25]:
promedio_barrios = barrios['Area'].mean()

Top 10

In [27]:
promedio_barrios.iloc[10]

59.217317487266556

Top de los 10 primeros

In [28]:
promedio_barrios.iloc[:10]

Barrio
Alameda                   97.000000
Alhambra                 190.411765
Andes Norte              124.857143
Antonio Nariño           163.062500
Barrancas                 70.200000
Barrios Unidos           185.621564
Bella Suiza              119.067961
Bellavista Occidental    286.200000
Bochica                  134.250000
Bogotá D.C               133.785714
Name: Area, dtype: float64

# **Respuesta 2**

In [29]:
inmuebles_bogota.describe()

       Habitaciones        Baños           Area
count   9520.000000  9520.000000    9520.000000
mean       3.072479     2.447899     146.664706
std        2.049856     1.255314    1731.379622
min        1.000000     0.000000       2.000000
25%        2.000000     2.000000      57.000000
50%        3.000000     2.000000      80.000000
75%        3.000000     3.000000     135.000000
max      110.000000     9.000000  166243.000000