<a href="https://colab.research.google.com/github/SoleEsp/Inmersion_datos_ALURA_LATAM/blob/main/Desafio_clase_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Desafíos

1- **Promedio de área de todos los inmuebles en los barrios en el dataset. El top 10.**

2- **Consultar otros datos estadísticos, conteo, mediana, valores mínimo y máximo.**

In [ ]:
import pandas as pd

inmuebles_bogota = pd.read_csv("inmuebles_bogota.csv")

In [ ]:
inmuebles_bogota.head(10)

,Tipo,Descripcion,Habitaciones,Baños,Area,Barrio,UPZ,Valor
0,Apartamento,Apartamento en venta en Zona Noroccidental,3,2,70,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 360.000.000
1,Casa,Casa en venta en Castilla,4,3,170,Castilla,KENNEDY: Castilla + Bavaria,$ 670.000.000
2,Apartamento,Apartamento en venta en Chico Reservado,3,3,144,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 1.120.000.000
3,Apartamento,Apartamento en venta en Usaquén,3,2,154,Usaquén,Usaquén,$ 890.000.000
4,Apartamento,Apartamento en venta en Bella Suiza,2,3,128,Bella Suiza,USAQUÉN: Country Club + Santa Bárbara,$ 970.000.000
5,Apartamento,Apartamento en venta en Bella Suiza,1,2,62,Bella Suiza,USAQUÉN: Country Club + Santa Bárbara,$ 510.000.000
6,Apartamento,Apartamento en venta en Bella Suiza,1,2,62,Bella Suiza,USAQUÉN: Country Club + Santa Bárbara,$ 500.000.000
7,Apartamento,Apartamento en venta en Bella Suiza,3,4,212,Bella Suiza,USAQUÉN: Country Club + Santa Bárbara,$ 2.350.000.000
8,Apartamento,Apartamento en venta en El Chicó,3,2,159,El Chicó,CHAPINERO: Chicó Lago + El Refugio,$ 850.000.000
9,Apartamento,Apartamento en venta en Bella Suiza,2,2,80,Bella Suiza,USAQUÉN: Country Club + Santa Bárbara,$ 642.000.000

# **Respuesta 1**

In [ ]:
inmuebles_bogota = inmuebles_bogota.rename(columns= {'Área':'Area'}) # renombramos los encabezados de columnas

In [ ]:
barrios = inmuebles_bogota.groupby(['Barrio']) # agrupamos por cada barrio

In [ ]:
promedio_barrios = barrios['Area'].mean() # obtenemos el promedio de area por cada barrio

Top 10

In [ ]:
promedio_barrios.iloc[9] # el indice se enumera desde 0 por esta razon el puesto TOP 10 seria el indice 9

133.78571428571428

Top de los 10 primeros

In [ ]:
promedio_barrios.head(10)

Barrio
Alameda                   97.000000
Alhambra                 190.411765
Andes Norte              124.857143
Antonio Nariño           163.062500
Barrancas                 70.200000
Barrios Unidos           185.621564
Bella Suiza              119.067961
Bellavista Occidental    286.200000
Bochica                  134.250000
Bogotá D.C               133.785714
Name: Area, dtype: float64

# **Respuesta 2**

In [ ]:
inmuebles_bogota.describe() # este metodo permite obtener promedio(mean), maximo(max), minimo(min) y cuantos valores hay(count)

       Habitaciones        Baños           Area
count   9520.000000  9520.000000    9520.000000
mean       3.072479     2.447899     146.664706
std        2.049856     1.255314    1731.379622
min        1.000000     0.000000       2.000000
25%        2.000000     2.000000      57.000000
50%        3.000000     2.000000      80.000000
75%        3.000000     3.000000     135.000000
max      110.000000     9.000000  166243.000000